---
layout: page
title: 作者
description: 
permalink: /staff/
menu: true
---

<div class="staff">
  {% for author in site.authors %}
    <div class="item">
      <h2 class="name">
        <a href="{{ site.baseurl }}{{ author.url }}">{{ author.display_name }}</a>
      </h2>
      {% if author.position %}
        <h3 class="position">{{ author.position }}</h3>
      {% endif %}
    </div>
  {% endfor %}
</div>
<img class="img-rounded" src="/assets/img/uploads/profile.png" alt="Thiago Rossener" width="200">


<p>

一个刚刚走出象牙塔的 Maker <a href="../about-me-master/index.html" target="_blank">「我的简历」</a>

</p>
<div style="color:#FF6633">
     <p>	三尺微命，一介书生。求学于卫星湖畔，黄瓜山下，欲潜心研究智能机器人开发应用之道。然所学颇杂，对诸多方面均有涉猎，喜欢研究一些新技术和关注一些最新的科技~
     </p>
</div>

<p>

平时喜欢整理个人博客，逛逛技术论坛

</p>

<div style="color:#008B00">

<p>

喜欢 Spoken English，虽然现在很渣，但一直在努力...

</p>

</div>

<p>

同时喜欢老罗和晓松，虽然他俩还撕逼，罗跟谁不撕逼，爱听老罗的单口相声

</p>
<p>
I'm a single-dog.  But codes and godgirl are my favorite.  Life is colorful, this website   is a window which used to present the color of my life.

</p>

<h3> PastTime</h3>

<br />

<p>

也许你听说过，「业余时间决定人生」；也许你还听说过，「听过很多道理，依然过不好这一生」。书籍、代码、博客、运动、电影、美剧、游戏，这就是我的业余生活。

</p>
<div >

<p >

     我的能力就这么多。我若全心工作，则必然忽略生活；我若用心生活，则必然一事无成；我若两者兼顾，又难免平庸

</p>

</div>

<p >

趁我在还能看得进书写得动代码的年纪，努力一回，看看这平庸的资质究竟能发挥几分。

</p>



